<form>
  <h4>New Post: Post</h4>
  <div class="form-group">
    <label>Title</label>
  </div>
  <div class="form-group">
    <label>Body</label>
  </div>
  <button class="btn btn-default" type='submit'>Create</button>
</form>
